<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="NodeBackcolor" value="White" />
    <add key="NodeBorderColor" value="LightGray" />
    <add key="LineWidth" value="2" />
    
    <add key="NodeHeaderSettingsFontStyleString" value="Bold" /> <!-- 'Regular', 'Bold', 'Italic','Underline', 'Strikeout' -->
    <add key="NodeHeaderSettingsFontSize" value="12" />
    <add key="NodeHeaderSettingsFontFamilyName" value="Arial" />
    <add key="NodeHeaderSettingsForeColorName" value="Black"/>
    
    <add key="NodeDetailSettingsFontSize" value="8" />
    <add key="NodeDetailSettingsFontFamilyName" value="Arial" />
    <add key="NodeDetailSettingsForeColorName" value="DarkGray" />
  </appSettings>
</configuration>